[Desktop Entry]
Encoding=UTF-8
Name=APTus Upgrade Checker
Comment=SparkyLinux Updater
Exec=/usr/bin/sparky-aptus-upgrade-checker
Terminal=false
Type=Application

