[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=System Upgrade Scheduler
GenericName=System Upgrade Scheduler
Name[de]=System Upgrade Planer
Name[el_GR]=Χρονικός Προγραμματισμός Αναβάθμισης Συστήματος
Name[ja_JP]=システムアップグレードスケジューラ
Name[pl]=Harmonogram Aktualizacji Systemu
Name[pt_BR]=Agendar Atualização do Sistema
Name[sk]=Plán aktualizácií systému
Name[zh_CN]=系统更新时间表
Comment=System upgrade scheduler
Comment[de]=System Upgrade Planer
Comment[el_GR]=Χρονικός Προγραμματισμός Αναβάθμισης Συστήματος
Comment[ja_JP]=システムアップグレードスケジューラ
Comment[pl]=Harmonogram aktualizacji systemu
Comment[pt_BR]=Agendar atualização do sistema
Comment[sk]=Plán aktualizácií systému
Comment[zh_CN]=系统更新时间表
Exec=/usr/bin/sparky-aptus-upgrade-cron
Icon=appointment
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

