[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=System Upgrade Scheduler
GenericName=System Upgrade Scheduler
Name[pl]=Harmonogram Aktualizacji Systemu
Name[pt_BR]=Agendador de Atualização do Sistema
Comment=System upgrade scheduler
Comment[pl]=Harmonogram aktualizacji systemu
Comment[pt_BR]=Agendador de atualização do sistema
Exec=/usr/bin/sparky-aptus-upgrade-cron
Icon=appointment
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

